<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="root">
      <h1>Agent</h1>
    </div>
    <a href="/logout"><button type="button" name="button">Logout</button></a>
    <div class="container">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tr>
            <th>Customers</th>
            <th>email</th>
            <th>Edit</th>
          </tr>
      <%    for(var i=0; i<customers.length; i++){  %>
            <tr>
              <td><%=i+1%></td>
              <td><%=customers[i].username%></td>
              <form  id="myForm" action="/secretsAgent" method="post">
                <input style="display:none;" type="text" name="username" value="<%=customers[i].username%>">
              </form>
              <td> <button type="button" value="Submit form" onclick="displayLoan()">Edit</button> </td>
            </tr>
        <%  }  %>
        </table>
      </div>
    </div>
    <div class="container">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tr>
            <th>Index</th>
            <th>Principal Amount</th>
            <th>Tenure</th>
            <th>Interest</th>
            <th>Apply</th>
          </tr>
        <%  for(var j=0; j<loan.length; j++){  %>
          <tr>
            <form class="" action="/secretsAgent2" method="post">
            <td><%=i%></td>
            <td><%=loan.principalAmount%></td>
            <td><%=loan.tenure%></td>
            <td><%=loan.interest%></td>
            <td> <select id="status" name="status">
              <option value="">Agent</option>
              <option value="Customer">Customer</option>
              <option value="Admin">Admin</option>
            </select> </td>
            </form>
          </tr>
        <%  }  %>
        </table>
      </div>
    </div>
    <script type="text/javascript">
    function displayLoan() {document.getElementById("myForm").submit();}
    </script>
  </body>
</html>
