<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
      <div class="container">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <div id="root">
              <h1>Admin</h1>
              <a href="/logout"><button type="button" name="button">Logout</button></a>
            </div>
            <tr>
              <th>Customers</th>
              <th>email</th>
              <th>Edit</th>
            </tr>
        <%    for(var i=0; i<customers.length; i++){  %>
              <tr>
                <form  id="myForm" action="/secretsAdmin" method="post">
                <td><%=i+1%></td>
                <td><%=customers[i].username%></td>

                <input style="display:none;" type="text" name="username" value="<%=customers[i].username%>">

                <td> <button type="submit">Edit</button> </td>
                </form>
              </tr>
          <%  }  %>
          </table>
        </div>
      </div>
      <div class="container">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <tr>
              <th>Index</th>
              <th>Principal Amount</th>
              <th>Tenure</th>
              <th>Interest</th>
              <th>Apply</th>
              <th>Submit</th>
            </tr>
          <%  for(var j=0; j<loan.length; j++){  %>
            <tr>
              <form class="" action="/loanApproval" method="post">
              <td> <i><%=j+1%></i> </td>
              <td> <%=loan[j].principalAmount%> </td>
              <td> <%=loan[j].tenure%> </td>
              <td> <%=loan[j].interest%> </td>
          <%     if(loan[j].status==="Approved"){ %>
                <td> <select id="status" name="status">
                  <option value="Approved">Approved</option>
                </select> </td>
          <%     }else{ %>
              <td> <select id="status" name="status">
                <option value="Reject">Reject</option>
                <option value="Approved">Approve</option>
              </select> </td>
            <%   } %>
              <input type="text" style="display:none;" name="identifier" value="<%=loan[j]._id%>">
              <td> <button class="btn btn-primary" type="submit">Submit</button> </td>
              </form>
            </tr>
          <%  }  %>
          </table>
        </div>
      </div>
  </body>
</html>
